DATABASE_URL='postgresql://neondb_owner:npg_IlGOx6K2TDYy@ep-long-bar-aiypu90b-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

ENCRYPTION_KEY=generate_using_scripts/generate_key.py

CLOB_API_URL=https://clob.polymarket.com
GAMMA_API_URL=https://gamma-api.polymarket.com
WS_URL=wss://ws-subscriptions-clob.polymarket.com/ws

POLYGON_RPC=https://polygon-rpc.com

WATCHER_POLL_INTERVAL=10
EXECUTOR_POLL_INTERVAL=5